* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

h2. h3 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

li a {
  font-family: 'Roboto', sans-serif;
}


.nav-link {
    font-weight: 600;
    color: white !important;
    text-decoration: none;
    padding-bottom: 5px;
}

.nav-bar {
  background-color: rgb(58, 7, 7);
}

.navbar-brand h2, .nav-link {
  transition: transform 0.25s ease;
}

.navbar-brand h2:hover,
.nav-link:hover {
  transform: scale(1.2);
}

.hero-section {
  position: relative;
  background-color: rgb(58, 7, 7); 
  min-height: 100vh;
  background-image: url("../images/hero.jpg");  
  background-position: right center;
  background-size: cover;
  color: white;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-section .container {
  position: relative;
  
}

.hero-title {
    color: #f5e6dc;
    font-weight: 700;
}

.hero-text{
  color: #e6d3c3;
  line-height: 1.7;
}

.btn-primary {
  background-color:#c97a2b;
  border-color: #f5e6dc;
  color: white;
}

.btn-primary:hover {
  background-color: #b06a24;
  border-color: #f5e6dc;
}

/* Footer */

footer {
  background-color:#3a0707 ;
  color: #f5e6dc;
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.9rem;
}

footer p {
  margin: 0;
  font-family: 'Roboto', sans-serif;  
}

.social-media a {
  color: #f5e6dc;
  margin: 0 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}








