* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.navbar {
  border: 1px solid;
  display: flex;
  justify-content:space-between;
  align-items: center;  
  height: 100px;
  
}

.nav-logo {
  color: black;
  text-decoration: none;
  padding-left: 20px;
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-right: 20px;  
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

