* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.nav-link {
    font-weight: 600;
    color: white !important;
    text-decoration: none;
    padding-bottom: 5px;
}

.nav-bar {
  background-color: rgb(58, 7, 7);
}

.navbar-brand h2, .nav-link {
  transition: transform 0.25s ease;
}

.navbar-brand h2:hover,
.nav-link:hover {
  transform: scale(1.2);
}

.hero-section {
  background-color: rgb(58, 7, 7); /* or your hero background image */
}

.hero-title {
  font-weight: 600;
}

.hero-text {  
  max-width: 450px;
}

.hero-buttons .btn {
  padding: 12px 30px;
  font-weight: 500;
}

.hero-img {
  max-width: 90%;
  background: url('../images/hero.jpg');
}
