* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.nav-link {
    font-weight: 600;
    color: white !important;
    text-decoration: none;
    padding-bottom: 5px;
}

.nav-bar {
  background-color: rgb(87, 11, 11);
}

.navbar-brand h2, .nav-link {
  transition: transform 0.25s ease;
}

.navbar-brand h2:hover,
.nav-link:hover {
  transform: scale(1.2);
}


